<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Ruby on Rails Tutorial Sample App | About</title>
  </head>
  <body>
    <h1>About us</h1>
    <p>
      <a href="http://railstutorial.org"> Ruby on Rails Tutorial</a> 
      is a project to make a book and screencasts to teach web development
      with <a href="http://railstutorial.org">Ruby on Rails</a>. This is 
      the sample application for the tutorial 
    </p>
  </body>
</html>